/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

}

body {
 	font-family:candara;
 	

 }
 h1 {
 	background-image:-webkit-linear-gradient(white,#e4e4e4);
 	padding:10px;
 	border:1px solid gray;
 	text-align:center;
 	margin-top:0px;
 	margin-bottom:5;

 }

 section {

 	width:100%;
 	height:auto;
 	min-height:200px;
 	background:#f5f3f3;
 	border:1px solid gray;
 	margin-bottom:5px;
 	margin-top:5px;
 	
 }
 section img {
 	width:50%;
 	padding:10px;
 	background:silver;
 	border:1px solid gray;
 	display:block;
 	margin:auto;
 	margin-top:5px;
 	margin-bottom:5px;

 }
 section p {
 	padding:20px;
 	text-align:justify;
 	padding-top:5px;
 	font-size:17px;
 }
 b {
 	font-size:20px;
 }
 span {
 	opacity:0.30;
 }
